
.shopTitle {
    margin-top: 0px;
    text-align: center;
    font-size: 40px;
}
.products {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    border: 2px solid red;
}
.product {
    border: 2px solid blue;
    border-radius: 15px;
    width: 400px;
    height: 500px;
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* .productCard img{
  width: 50%;
  height: 50%;
  margin: 0 auto;
  
} */
.product .description{
    text-align: center;
    border: 2px solid green;
    width: 300px;
}
.CardMedia img:hover {
    -ms-transform: scale(1.03); /* IE 9 */
    -webkit-transform: scale(1.03); /* Safari 3-8 */
    transform: scale(1.03); 
}
.addCartBttn{
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding: 5px 10px;
    border-radius: 15px;
}
.addCartBttn:hover{
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
}
.addToCart{
    border: 2px solid black;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    width: 100px;
}
.addToCart:hover{
    background-color: black;
    color: white;
    font-weight: lighter;
}